/*static/styles/base.css*/
:root{
  --background: #56bcc5;
  --background-dark: #317075;
  --background-light: #71e4f4;
  --yellow: #ffd343;
  --body-font: 14px/1.75 Vidaloka, OdorMeanChey;
  --link: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: var(--link);
}
a:hover{
  opacity: .7;
}
.region{
  max-width: 1200px;
  margin: 0 auto;
}

body{
  font: var(--body-font);
  color: white;
  background: var(--background);
}