.front_widget{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    background: var(--background-light);
  }
  
  .front_widget .wrapper{
    position: relative;
    padding-top: 56.25%;
  }
  
  .front_widget .wrapper .thumb{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .front_widget .wrapper iframe,
  .front_widget .wrapper .fb-video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .front_widget .wrapper a img{
    height: 100%;
    width: 100%;
  }
  
  .front_widget .wrapper:nth-child(1){
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
  }

  .front_widget .wrapper .play-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: auto;
  }

  .front_widget .wrapper:nth-child(1) .play-icon{
    width: 10%
  }

  .front_widget .wrapper .post-title{
    position: absolute;
    bottom: 0;
    padding: 20px 10px 10px;
    font: 14px/1.3 Oswald, Bayon;
    width: 100%;
    text-shadow: 2px 2px 4px #000000;
    background: -webkit-linear-gradient(bottom, black,transparent);
  }

  .front_widget .wrapper:nth-child(1) .post-title{
    font: 30px/1.3 Oswald, Koulen;
    text-align: center;
  }

  .front_widget .wrapper .date{
    position: absolute;
    top: 2px;
    right: 5px;
  }

  .front_widget .wrapper:nth-child(1) .date{
    font-size: 20px;
    text-shadow: 2px 2px 4px #000000;
    top: 0;
    right: 7px;
  }

  .region .navigation{
    margin-top: 10px;
    text-align: center;
    background: var(--background-light);
    padding-top: 10px;
    border-bottom: 1px solid white;
  }

  .region .navigation img{
    height: 30px;
  }

  .region .navigation img:hover{
    opacity: .7;
    cursor: pointer;
  }

  .front_widget .wrapper .loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @media only screen and (max-width: 600px){
    .front_widget{
      grid-template-columns: 100%;
    }
  
    .front_widget .wrapper:nth-child(1){
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }

    .front_widget .wrapper:nth-child(1) .play-icon,
    .front_widget .wrapper .play-icon{
      width: 15%
    }

    .front_widget .wrapper:nth-child(1) .post-title,
    .front_widget .wrapper .post-title{
      font: var(--body-font);
      text-align: left;
    }

    .front_widget .wrapper:nth-child(1) .date{
      font: var(--body-font);
      top: 2px;
      right: 5px;
    }

    
    
  }