.header-outer{
  background: var(--background-dark);
}

.header{
  display: grid;
  grid-template-columns: 250px auto 130px;
  align-items: center;
  color: white;
}

.header a{
  color: white;
}

.header .logo{
  font: 35px/1.5 BlackOpsOne;
}

.header .logo a{
  color: white;
}

.header .login{
  text-align: right;
  font: 16px/1.5 Oswald;
}

.header .topnav {
  background-color: var(--background-dark);
  overflow: hidden;
}

.header .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.header .topnav a.active {
  color: white;
}

.header .topnav .icon {
  display: none;
}

@media only screen and (max-width: 600px){
  .header{
    grid-template-columns: 100%;
    text-align: center;
  }

  .header .topnav {
    background-color: rgb(0, 150, 150);
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .header .login{
    text-align: center;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 600px) {
  .header .topnav a:not(:first-child) {display: none;}
  .header .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .header .topnav.responsive {position: relative;}
  .header .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .header .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}